@import 'tailwindcss';

@theme {
  --animate-blink: blink 2s steps(1,end) infinite;

  @keyframes blink {
      0%,
      100% {
        background-color: rgb(255 255 255);
				color: rgb(0 0 0);
      }
  
      50% {
        background-color: transparent;
        color: rgb(255 255 255);
      }
    }
}

#heading {
	font-size: 2rem;
	font-weight: 600;
}